@import url("https://fonts.googleapis.com/css2?family=Alexandria&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  height: 800px;
  width: 800px;
  min-height: 800px;
  min-width: 800px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.tile {
  height: 20%;
  width: 20%;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
}

.tile-title {
  width: 100%;
  height: 30px;
  background-color: black;
  z-index: 1000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: "Alexandria", sans-serif;
  transition: all 0.2s ease-in-out;
}

.active-tile {
  box-shadow: 0px 0px 10px 10px #ff19a3;
  z-index: 2000;
  transition: all 0.5s ease;
  position: relative;
}

.active-tile::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #ff19a3;
  opacity: 0.6;
  transition: all 500ms ease;
}

.sprite {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: yellow;
  z-index: 2500;
}

.sprite-moving {
  transition: all 0.5s ease;
}

.counter-top {
  height: 480px;
  width: 480px;
  left: 160px;
  top: 160px;
  position: absolute;
  border: solid 1px black;
  overflow: hidden;
}

.counter-top::before {
  background-image: url("./images/counter-top.png");
  opacity: var(--fadeBackground, 1);
  background-size: cover;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 200ms ease-in;
}

.phone {
  position: absolute;
  height: 230px;
  width: 170px;
  left: 470px;
  top: 380px;
  background-image: url("./images/phone.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-10deg);
  border: none;
  background-color: transparent;
}

.phone:hover {
  cursor: pointer;
}

.journal {
  height: 400px;
  width: 300px;
  background-image: url("./images/journal.png");
  position: absolute;
  background-size: contain;
  top: 220px;
  left: -20px;
  transform: rotate(10deg);
  background-color: transparent;
  background-repeat: no-repeat;
  transition: opacity 200ms ease-in;
}

.dice-button {
  position: absolute;
  height: 100px;
  width: 120px;
  bottom: 30px;
  left: 50px;
  background-color: transparent;
  border: none;
}

.dice-button:hover {
  cursor: pointer;
}

.dice-one {
  height: 50px;
  width: 50px;
  position: absolute;
  background-image: url("./images/dice-1.png");
  background-size: cover;
  animation-timing-function: ease-in;
}

.dice-two {
  height: 50px;
  width: 50px;
  left: 60px;
  position: absolute;
  background-image: url("./images/dice-4.png");
  background-size: cover;
  animation-timing-function: ease-in;
}

.health-bar {
  width: 50px;
  background-color: red;
  position: absolute;
  left: -140px;
  bottom: 0;
  transition: all ease-in 300ms;
}
.gains-bar {
  width: 50px;
  background-color: blue;
  position: absolute;
  left: -70px;
  bottom: 0;
  transition: all ease-in 300ms;
}
/* ///////////// Start of Phone Text Message ///////////// */
.phone-text-message-container {
  width: 480px;
  height: 480px;
  position: absolute;
  left: 160px;
  top: 160px;
  background-color: white;
  border: solid 1px black;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.phone-text-message-header {
  position: absolute;
  width: 100%;
  height: 100px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px #c1c1c1;
}

.phone-text-message-metrics {
  position: absolute;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.phone-text-message-time {
  height: 100%;
  width: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #7a8080;
  user-select: none;
  position: absolute;
  left: 0px;
}

.phone-text-message-wifi {
  height: 80%;
  width: 20px;
  background-image: url("./images/wifi.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 2px;
  margin-right: 2px;
}

.phone-text-message-lte {
  height: 90%;
  width: 20px;
  background-image: url("./images/lte.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 2px;
  margin-right: 2px;
}

.phone-text-message-signal {
  height: 70%;
  width: 15px;
  background-image: url("./images/signal.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 2px;
  margin-right: 2px;
}

.phone-text-message-recharge {
  height: 70%;
  width: 15px;
  background-image: url("./images/recharge.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 2px;
  margin-right: 10px;
}

.contact-name-container {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contact-name-arrow {
  height: 30%;
  width: 50px;
  background-image: url("./images/arrow.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  position: absolute;
  left: 0px;
}

.contact-name-text {
  font-family: "Roboto", sans-serif;
  color: #666666;
  font-size: 24px;
  margin-top: 3px;
  position: absolute;
  left: 70px;
  user-select: none;
}

.contact-name-video {
  height: 30px;
  width: 30px;
  background-image: url("./images/video.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-right: 18px;
}

.contact-name-phone {
  height: 30px;
  width: 30px;
  background-image: url("./images/contact-phone.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-right: 15px;
}

.contact-name-dots {
  height: 20px;
  width: 20px;
  background-image: url("./images/dots.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 15px;
  margin-right: 25px;
}

.texting-watermark {
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: #f9f9f9;
  color: #666666;
  top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  user-select: none;
  font-family: "Roboto", sans-serif;
}

.text-message-content-container {
  position: absolute;
  top: 180px;
  display: flex;
  align-items: center;
  animation-name: message-enlarge;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
  animation-delay: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.avatar-column {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-message-content-column {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 20px;
}

.text-message-avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-image: url("./images/preacher.png");
  margin-right: -20px;
}

.message {
  width: 95%;
  background-color: rgb(226, 226, 226);
  font-size: 18px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  line-height: 25px;
  user-select: none;
  font-family: "Roboto", sans-serif;
}

.text-reply-button {
  position: absolute;
  bottom: 20px;
  background-color: #ff19a3;
  color: white;
  border: none;
  transform: translateX(50%);
  right: 50%;
  padding: 15px 30px;
  border-radius: 30px;
  transition: 0.3s ease-in-out all;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.text-reply-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* ///////////// End of Phone Text Message ///////////// */

/* ///////////// Start of Cash App Message ///////////// */
.cash-app-message-container {
  width: 480px;
  height: 480px;
  position: absolute;
  left: 160px;
  top: 160px;
  background-color: white;
  border: solid 1px black;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cash-app-message-header {
  position: absolute;
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0px;
}

.cash-app-options {
  width: 100%;
  height: 40px;
  margin-top: 40px;
}

.cash-app-x-icon {
  height: 20px;
  width: 20px;
  background-image: url("./images/x-symbol.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  position: absolute;
}

.cash-app-horizontal-dots {
  height: 50px;
  width: 30px;
  background-image: url("./images/black-dots.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 30px;
  top: 35px;
  transform: rotate(90deg);
}

.cash-app-message-content {
  position: absolute;
  width: 100%;
  height: 400px;
  bottom: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation-name: message-enlarge;
  animation-timing-function: ease-in;
  animation-duration: 500ms;
  animation-delay: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.cash-app-avatar {
  height: 70px;
  width: 70px;
  background-color: blue;
  border-radius: 50%;
  margin-top: 10px;
  background-image: url("./images/arnie-avatar.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: -55px;
}

.cash-app-contact-name {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.cash-app-payment-contact-name,
.cash-app-payment-message {
  margin-top: 8px;
  color: rgb(172, 172, 172);
}

.cash-app-payment-amount {
  font-size: 50px;
  font-weight: bold;
  margin-top: 45px;
  color: black;
}

.cash-app-accept-button {
  font-weight: 600;
  font-size: 14px;
  border: solid 1px rgb(229, 229, 229);
  border-radius: 5px;
  padding: 20px 80px;
  background-color: transparent;
  color: #00d53c;
  position: absolute;
  bottom: 20px;
  transition: 0.3s ease-in-out all;
}

.cash-app-accept-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* ///////////// End of Cash App Message ///////////// */

/* ///////////// Start of Phone Vibration ///////////// */
.vibrate-phone {
  animation-name: vibration;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.alert-message-container {
  position: absolute;
  background-color: white;
  color: #ff19a3;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 290px;
  transform: translateX(50%);
  right: 50%;
  z-index: 1000;
  padding: 15px 0px;
  border-radius: 50px;
  font-family: "Alexandria", sans-serif;
  font-size: 20px;
  border: solid 5px white;
  box-shadow: 0px 0px 0px 5px #ff19a3;
  background-color: #ff19a3;
  color: white;
  user-select: none;
}
/* ///////////// End of Phone Vibration ///////////// */

.pill {
  height: 20px;
  width: 40px;
  left: 0px;
  margin-left: 10px;
  margin-right: 10px;
  animation-name: spin-pill;
  animation-iteration-count: infinite;
  animation-duration: 2000ms;
  animation-timing-function: linear;
}

/* ///////////// Start of Animations ///////////// */

@keyframes message-enlarge {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes vibration {
  0% {
  }
  50% {
    transform: rotate(1deg);
  }

  100% {
  }
}

@keyframes spin-pill {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ///////////// End of Animations ///////////// */
